# Editors
alias vi="nvim"
alias vrc="nvim ~/.config/nvim/init.vim"
alias dotfiles="nvim ~/dotfiles"

# Other
alias htop-me="htop -u alex"

# Languages
alias init="touch __init__.py"

# General
alias ~="cd ~"
alias _="cd -"
alias ..="cd .."
alias ls="ls -lG --color=auto"
alias la="ls -la --color=auto"
alias l="ls -lah --color=auto"
alias grep="grep --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}"
alias untar="tar -xzvf"
alias trash="ls -laG --color=auto ~/.Trash"
alias rm="rm -i"
alias mv="mv -i"
alias c="clear"
alias r=". ranger"
alias q="exit"

# Networking
alias head="curl -I"
alias myip="curl https://ifconfig.me"
alias localip="ipconfig getifaddr en0"
alias ping="ping -c 5"

# Find & Delete all ".DS_Store" files (recursive)
alias delete.ds="find . -name '.DS_Store' -type f -print -delete"

# Git aliases
alias gaa="git add -v --all"
alias gap="git add --patch"
alias ga="git add"
alias gf="git fetch -v"
alias gc="git commit -v -m"
alias gpu="git push -u"
alias gp="git push -v"
alias gpush="git push -v"
alias gpull="git pull -v"
alias gs="git status"
alias gcb="git checkout -b"
alias gco="git checkout"
alias gb="git branch"
alias g="git"
alias gcfg="git config --list"
alias gcp="git cherry-pick"
alias gd="git diff"
alias gm="git merge"
alias gl="git log"
alias gr="git remote -v"
alias gra="git remote add"
alias gl="git log --decorate --graph --stat --all"

